body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time {
    font-size: 10vh;
}

button {
    border: 1px solid #333;
    width: 200px;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover:not(:disabled) {
    opacity: .7;
    transform: translateY(4px);
}

button:active:not(:disabled) {
    background-color: darkgray;
}

#lap:disabled {
    cursor: not-allowed;
}

#reset:disabled {
    cursor: not-allowed;
}

#lapList {
    max-height: 30px;
    list-style: none;
}

#lapList li {
    color: gray;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#lapList li:first-child {
    font-weight: bold;
    color: black;
}


#lapList li:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}
#lapList li {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
